@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    /* color: black; */
}

button {
    border: 0.1em solid tomato;
    border-radius: 7px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* border-radius: 20px; */
    /* border-radius: 15px 50px; */
}

button:hover {
    cursor: pointer;
}

.models-header,
.featured-header,
.news-header {
    color: black;
    /* background-color: blueviolet; */
    /* height: 10%; */
    width: 90%;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
}

.models-header-title,
.featured-header-title,
.news-header-title {
    font-size: 30px;

}

.container {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container>section {
    scroll-snap-align: start;
}

.first-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* background-image: url(/images/img17.jpg) ; */
    /* background-size: 100% 100%; */
    /* background: linear-gradient(to right, rgba(255, 122, 89,1), rgba(255, 122, 89,0)); */
}

.header {
    /* display: ; */
    width: 100%;
    height: 15%;
    border-bottom: 0.1rem dashed white;
    color: white;
}

.upper-header {
    width: 90%;
    height: 18%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* align-items: flex-end; */
}

.clock {
    /* background-color: wheat; */
    color: white;
}

.lower-header {

    width: 90%;
    height: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* color: white; */
    /* align-items: flex-end; */

}

.logo {
    padding: 2px;
    display: flex;
    align-items: center;
    width: 15%;
}

.logo img {
    width: 100%;
    height: 80%;
    /* background-color: gray; */
}

.navbar {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    height: 84%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content-buttons {
    margin-top: 50px;
    width: 23%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar-contact,
.main-booking {
    background-color: tomato;
}


/* secondPage */

.second-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}



.models-details {
    width: 40%;
    height: 88%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.models-details-contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
    line-height: 30px;
    height: 60%;
}

.models-details-header {
    line-height: 60px;
}

.models-title {
    color: red;
}

.models-buy,
.models-test-a-ride {
    color: black;
}

.models-buy {
    background-color: red;
}

.models-right {
    width: 55%;
    height: 100%;
    /* border-radius: 5%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: yellow; */

}


.models-images {
    margin-top: 50px;
    display: grid;
    width: 80%;
    /* justify-content: center; */
    /* align-items: center; */
    height: 80%;
    border-radius: 20px 20px;
    background-color: rebeccapurple;
    overflow: hidden;
    /* box-shadow: 0 0 5px 5px; */
    box-shadow: -1px 3px 40px 1px;

}

/* test file */
/* test file */
.first,
.second,
.third {
    width: 100%;
    height: 100%;
}

.first {
    /* background-color: aqua; */
    grid-column: 1 /2;
    grid-row: 1/2;

}

.second {
    /* background-color: palegreen; */
    grid-column: 1 /2;
    grid-row: 1/2;


}

.third {
    grid-column: 1 /2;
    grid-row: 1/2;
    /* background-color: blue; */

}


.change-indicators {
    position: absolute;
    right: 0px;
    /* background-color:rgb(161, 155, 155); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
    line-height: 40px;
    font-weight: bolder;
    overflow: hidden;
    width: 10%;
    height: 8%;
}

.change-indicators:hover {
    cursor: pointer;
}

.first-indicator,
.second-indicator,
.third-indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.first-indicator {
    border: 1px solid aqua;
    background-color: aqua;
}

.second-indicator {
    border: 1px solid palegreen;
    background-color: palegreen;
}

.third-indicator {
    border: 1px solid blue;
    background-color: blue;
}

.first-indicator:hover {
    transform: scale(110%, 110%);
}

.second-indicator:hover {
    transform: scale(110%, 110%);
}

.third-indicator:hover {
    transform: scale(110%, 110%);
}


/* swiperJs */


.swiper {
    width: 90%;
    height: 70%;
    /* background-color: mediumspringgreen; */
}

.available-slide {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}




/* -------------------------- */
/* third Page */
.third-page {
    /* background-color: aquamarine; */
    background-color: #f1f3f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.swiper-slide-featured {
    /* background-color: rgb(75, 90, 86); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-items-containers {
    /* background-color: rgb(173, 162, 183); */
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    height: 80%;
    width: 90%;
    /* justify-content: center; */
    /* align-items: center; */
}

.featured-items {
    /* border: 1px solid; */
    /* background-color: chartreuse; */
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
    /* position: relative; */

}


.featured-items>img {
    margin-top: 4px;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    box-shadow: -1px 3px 10px 1px gray;

    /* background-color: pink; */
}

.featured-items>figcaption {
    /* background-color: aliceblue; */
    /* position: absolute; */
    /* bottom: 0px; */
    width: 100%;
    /* height: 28%; */
    text-align: center;
    /* margin-top: 0; */
}

/* --------------------------------- */
/* forth Page */
.forth-page {
    /* background-color: aquamarine; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.swiper-slide-news {
    /* background-color: rgb(75, 90, 86); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-items-containers {
    /* background-color: rgb(173, 162, 183); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    height: 80%;
    width: 90%;
    /* justify-content: center; */
    align-items: center;
}

.news-items {
    /* border: 1px solid; */
    /* background-color: chartreuse; */
    height: 100%;
    /* position: relative; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

}

.news-items>img {
    height: 70%;
    width: 80%;
    box-shadow: -1px 3px 10px 1px gray;
    border-radius: 10px;
    /* background-color: pink; */
}

.news-items>figcaption {
    /* background-color: aliceblue; */
    /* position: absolute; */
    /* bottom: 15%; */
    width: 100%;
    height: 18%;
    text-align: center;
    overflow: hidden;
    /* line-height: 60px; */
}

.news-readmore {
    background-color: red;
    height: 30px;
    width: 35%;

}

/* -------------------------------------------- */
/* fifth page */
.fifth-page {
    /* background-color: aqua; */
    background-color: #f1f3f4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.subscription-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription {
    height: 75%;
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.subscription>input,
textarea {
    line-height: 35px;
    border: none;
    background-color: rgb(209, 227, 227);

    border-radius: 5px;

}

.map {
    width: 48%;
    height: 80%;
    /* box-shadow: 5px 10px #888888; */
    border: none;
    /* border-radius: 5px; */
    /* background-color: green; */
    /* box-shadow: 2px 3px 5px 5px #fff; */

}

.map>iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;

}

.subscription-submit {
    background-color: red;
    width: 20%;
}



/* ------------------------------------ */
/* sixth page */

.sixth-page {
    /* background-color:#f1f3f4; */
    height: 40vh;

}

.sixth-page-container {
    /* background-color: gray; */
    padding-top: 100px;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 12px;
    border-bottom: 4px double;
}

.short-info {
    /* background-color: green; */
    width: 30%;
    /* height: 80%; */
}

.contact {
    /* background-color: green; */

    width: 15%;

}

.opening-hours {
    /* background-color: green; */

    width: 25%;
}

.social-media {
    /* background-color: green; */

    width: 12%;
}



.contact>a {
    color: black;

}

.company-logo {
    width: 40%;

}

.company-logo>img {
    width: 100%;
}

.contact {
    display: flex;
    flex-flow: column;
    /* align-items: ; */
    /* justify-content: space-around; */
}

.social-media i {
    width: 30px;
    font-size: 22px;
    color: black;
}

.copyright {
    /* background-color: pink; */
    /* border: 2px solid; */
    width: 80%;
    margin: 0 auto;
    /* width: 90%; */
    height: 10%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}