@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    /* color: black; */
}

button {
    border: 0.1em solid tomato;
    border-radius: 7px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

button:hover {
    cursor: pointer;
}

.navbar-contact,
.main-booking {
    background-color: tomato;
}

.first-page {
    /* background-color: aqua; */
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.header {
    /* background-color: green; */
    /* display: ; */
    width: 100%;
    height: 15%;
    border-bottom: 0.1rem dashed white;
    color: white;
}

.upper-header {
    width: 90%;
    height: 18%;
    margin: 0 auto;
    /* background-color: coral; */
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* align-items: flex-end; */
}

.lower-header {
    /* background-color: darkorange; */
    /* background-color: black; */

    width: 90%;
    height: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* color: white; */
    /* align-items: flex-end; */

}



.logo {
    /* background-color: aqua; */
    /* background-color: black; */
    padding: 2px;
    display: flex;
    align-items: center;
    width: 15%;



}

.logo img {
    width: 100%;
}

.navbar {
    /* background-color:bisque; */
    /* background-color: black; */

    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.content {
    /* background-color:red; */
    /* background-color: black; */
    height: 84%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content-buttons {
    /* background-color: blue; */
    margin-top: 50px;
    width: 23%;
    display: flex;
    justify-content: space-between;
    color: white;
}



/* test file */
/* test file */
.first,
.second,
.third {
    width: 100%;
    height: 100%;
}

.first {
    background-color: aqua;
    grid-column: 1 /2;
    grid-row: 1/2;
    
}

.second {
    background-color: palegreen;
    grid-column: 1 /2;
    grid-row: 1/2;
    

}

.third {
    grid-column: 1 /2;
    grid-row: 1/2;
    background-color: blue;
    
}

.change-indicators {
    background-color:rgb(161, 155, 155);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
    line-height: 40px;
    font-weight: bolder;
    overflow: hidden;
    width: 25%;
    height: 8%;
    

}

.change-indicators:hover {
    cursor: pointer;
}

.first-indicator, .second-indicator, .third-indicator{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.first-indicator{
    border: 1px solid aqua;
    background-color: aqua;
}

.second-indicator{
    border: 1px solid palegreen;
    background-color: palegreen;
}

.third-indicator{
    border: 1px solid blue;
    background-color: blue;
}

.first-indicator:hover {
    transform: scale(110%, 110%);
}

.second-indicator:hover {
    transform: scale(110%, 110%);
}

.third-indicator:hover {
    transform: scale(110%, 110%);
}


/* secondPage */

.second-page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 14, 53);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.modelsHeader{
    color: black;
    background-color: blueviolet;
    height: 10%;
    width: 90%;
    margin: 0 auto; 
    line-height: 70px;
    text-align: center;
    
}


.swiper{
    width: 90%; 
    height: 60%;
    /* color: black; */
}


.models-details{
    width: 40%;
    height: 100%;
    background-color: green;
}

.models-right{
    width: 55%;
    height: 100%;
    background-color: yellow;

}

.models-images {
    display: grid;
    height: 100%;
    background-color: white;
}











/* swiperJs */

.swiper-slide {
    background-color: red;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* height: 80vh; */
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */